{#
/**
 * @file recipe_review.html.twig
 * Default theme implementation to present Recipe review data.
 *
 * This template is used when viewing Recipe review pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_recipe_review()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('recipe_review') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
